<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type= "text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<header class="d-flex text-center">
    <h1 class="title">Character Creator</h1>
    

<nav>
    <div class ="logout">Logout</div>
</nav>
</header>
<main class="text-center">
    <h2 class="title">Dashboard</h2>
    {{{body}}}
</main>    

</html>
<script src="/js/logout.js"></script>