 <section>
   {{#each everyCharacter as |character|}}
      <div>
        <h2>
        <a href="/character/{{id}}">{{characters_name}}</a>
      </h2>
        <p> {{character.genre}}</p>
        <p> {{ character.user.username }}</p>
      </div>
    {{/each}}
  </section>