{{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
<div class="row">
   
  <button  id="charCreateBtn" class="btn col createcharacter" type="button" onclick="window.location.href ='/newChar'">+ Create A New Character!</button>
     
  <button  id="charViewBtn" class="btn col yourcharacter" type="button" onclick="window.location.href ='/user-characters'">View Your Characters!</button>
        
  <button id="charViewAllBtn" class="btn col allcharacter " type="button" onclick="window.location.href ='/allcharacters'" >View Sample Characters!</button>
    
</div>


        {{!-- <style>
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} --}}
