<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="row">
  <div class="column" style="background-color:#aaa:;">
    <div id="charCreateBtn">
        <h2>

         <button class="btn btn-primary" type="button" onclick="window.location.href ='/newChar'">+ Create A New Character!</button>

        </h2>
  </div>
  <div class="column" style="background-color:;">
    <div id="charViewBtn">
        <h2>

        <button class="btn yourcharacter" type="button" onclick="window.location.href ='/user-characters'">View Your Characters!</button>

        </h2>
    </div>
  </div>
  <div class="column" style="background-color:;">
    <div id="charViewAllBtn">
        <h2>
        <button class="btn allcharacter" type="button" onclick="window.location.href ='/allcharacters'" >View Sample Characters!</button>
        </h2>
    </div>
</div>


        {{!-- <style>
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} --}}
    </div>
