{{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}
<div class="row">
   
  <button  id="charCreateBtn" class="btn col createcharacter" type="button" onclick="window.location.href ='/newChar'">+ Create A New Character!</button>
     
  <button  id="charViewBtn" class="btn col yourcharacter" type="button" onclick="window.location.href ='/user-characters'">View Your Characters!</button>
        
  <button id="charViewAllBtn" class="btn col allcharacter " type="button" onclick="window.location.href ='/allcharacters'" >View Sample Characters!</button>
    
</div>


