<h2 class="title">Dashboard</h2>
<div class="row d-flex justify-content-around">
<div> 
  <button  id="charCreateBtn" class="title btn col createcharacter font-weight-bold" type="button" onclick="window.location.href ='/newChar'"></button>
  <p class="title">Create A New Character!</p>
</div>

<div>     
  <button  id="charViewBtn" class="title btn col yourcharacter font-weight-bold" type="button" onclick="window.location.href ='/user-characters'"></button>
  <p class="title" >View Your Characters!</p>
</div>

<div class=>      
  <button id="charViewAllBtn" class="title btn allcharacter font-weight-bold" type="button" onclick="window.location.href ='/allcharacters'" ></button>
  <p class="title ">View Sample Characters</p>
</div>  
</div>


