 <section>
  <h2 class="title">My Characters</h2>
  <a href="/dashboard">Return to Dashboard</a>
   {{#each characters as |character|}}
      <div class="row border border-black">
        <h2 class="col-6">
        <a class="name title " href="/character/{{id}}">{{characters_name}}</a>
      </h2>
        <p class="title col-6"> {{character.genre}}</p>
      </div>
    {{/each}}
  </section>