 <section>
  <a href="/dashboard">Return to Dashboard</a>
   {{#each characters as |character|}}
      <div>
        <h2>
        <a href="/character/{{id}}">{{characters_name}}</a>
      </h2>
        <p> {{character.genre}}</p>
      </div>
    {{/each}}
  </section>