<form class="form login-form position-absolute top-0 start-50 translate-middle-x">
  {{#if logged_in}}
  <button class="btn btn-warning" type="button" onclick="window.location.href ='/dashboard'">Dashboard</button>
  {{else}}
  <div class="form-group">
    <label for="user-login">Username:</label>
    <input class="form-input" type="text" id="username-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn-warning" type="submit">login</button>
  </div>
  <a class="signUp" href="/signup">Sign Up Instead</a>
  {{/if}}


</form>
{{!-- switch /signup to route to create user --}}

<script src="/js/login.js"></script>