<div class="container">
    <div class="row">
        <div class="col-sm">Select a genre!</div>
    </div>
    <div class="row">
        <div class="col-sm">Romance</div>
        <div class="col-sm">Epic Fantasy</div>
        <div class="col-sm">Noir</div>
    </div>
</div>