<a href="/dashboard">Return to Dashboard</a>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-sm text-black text-center h3">Select a genre!</div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-3">
            <input class="btn btn-primary" type="button" value="Romance" id="romanceButton">
        </div>
        <div class="col-3">
            <input class="btn btn-primary" type="button" value="Epic Fantasy" id="fantasyButton">
        </div>
        <div class="col-3">
            <input class="btn btn-primary" type="button" value="Noir" id="noirButton">
        </div>
    </div>
</div>
<section id="questionaire" class="col-10 ml-5">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text inpLabel shadow-none" id="basic-addon1">Name:</span>
    </div>
       <textarea class="form-control" placeholder="Name" name="name" id="name"></textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="friendQuest">Who is your character's most trusted confidante?</h3>
    <textarea class="form-control" placeholder="Companion" name="companion" id="companion"></textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="backQuest">What is your character's background?</h3>
    <textarea class="form-control" placeholder="Background" name="background" id="background"></textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="ageQuest">How old is your character?</h3>
    <textarea class="form-control" placeholder="Age" name="age" id="age"></textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="roleQuest">What role does your character play in the story?</h3>
    <textarea class="form-control" placeholder="Story Role" name="story_role" id="story_role"></textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="goalQuest">What is your character's main goal?</h3>
    <textarea class="form-control" placeholder="Goal" name="goal" id="goal"></textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="secretQuest">What is your character's deepest secret?</h3>
    <textarea class="form-control" placeholder="Secret" name="secret" id="secret"></textarea>
    </div>

    <div>
        <button class="btn btn-primary" type="button" value="Button" id="submitButton">Submit</button>
    </div>
</section>

<script src="/js/newChar.js"></script>