<a href="/dashboard">Return to Dashboard</a>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-sm text-white text-center h3">Select a genre!</div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-3">
            <input class="btn btn-primary" type="button" value="Romance" id="romanceButton">
        </div>
        <div class="col-3">
            <input class="btn btn-primary" type="button" value="Epic Fantasy" id="fantasyButton">
        </div>
        <div class="col-3">
            <input class="btn btn-primary" type="button" value="Noir" id="noirButton">
        </div>
    </div>
</div>
<section id="questionaire" class="col-10 ml-5">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text inpLabel shadow-none" id="basic-addon1">Name:</span>
    </div>
       <textarea class="form-control" placeholder="name" name="name" id="name">
        Character Name
    </textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="friendQuest">Who is your character's most trusted confidante?</h3>
    <textarea class="form-control" placeholder="companion" name="companion" id="companion">
    Companion
    </textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="backQuest">What is your character's background?</h3>
    <textarea class="form-control" placeholder="background" name="background" id="background">
    Background
    </textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="ageQuest">How old is your character?</h3>
    <textarea class="form-control" placeholder="age" name="age" id="age">
    Age
    </textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="roleQuest">What role does your character play in the story?</h3>
    <textarea class="form-control" placeholder="story_role" name="story_role" id="story_role">
    Story Role
    </textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="goalQuest">What is your character's main goal?</h3>
    <textarea class="form-control" placeholder="goal" name="goal" id="goal">
    Goal
    </textarea>
    </div>

    <div class="input-group mb-3">
        <h3 id="secretQuest">What is your character's deepest secret?</h3>
    <textarea class="form-control" placeholder="secret" name="secret" id="secret">
    Secret
    </textarea>
    </div>

    <div>
        <button class="btn btn-primary" type="button" value="Button" id="submitButton">Submit</button>
    </div>
</section>

<script src="/js/newChar.js"></script>