
<body>
<form action="/action_page.php" style="border:1px solid #ccc">
<script src="public\css\style.css"></script>
  <div class="container">
    <h1 class="title ">Sign Up</h1>
    <p class="title ">Please fill in this form to create an account.</p>
    <hr>

    <label class="title "><b>Username</b></label>
    <input class="newUser" type="text"  name="newUser" required>

    <label for="psw" class="title "><b>Password</b></label>
    <input class="password" type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat" class="title "><b>Repeat Password</b></label>
    <input class="rPassword" type="password" placeholder="Repeat Password" name="r=psw" required>
    

    <div class="clearfix">
    
      <button type="submit" id="signupBtn" class="title ">Sign Up</button>
    </div>
  </div>
</form>

</body>
</html>

</form>

<script src="/js/signup.js"></script>
 
