 <section>
   {{#each characters as |character|}}
      <div>
        
        <p>{{characters.characters_name}}</p>
        
        <p> {{characters.genre}}</p>
      
      </div>
    {{/each}}
  </section>