body {
    background-image: url('./pexels-pixabay-159833.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

.login-form{
    margin-top: auto;
}

.signUp{
   color: antiquewhite;
}

.charecterBuilder{
    color: blanchedalmond;
}

